//
   Created by oguzhan on 05.07.2015.

extends layout
block content
    .col-lg-4.col-md-5.col-sm-6.col-xs-7
        h1= title
        p Please Login below
            form(method='post', action='/users/login', enctype='multipart/form-data')
                .form-group
                    label Username
                    input.form-control(type='text', name='username', placeholder='Enter Username')
                .form-group
                    label Password
                    input.form-control(type='password', name='password', placeholder='Enter Password')
                input.btn.btn-default(name='submit', type='submit', value='Login')

