extends layout

block content
    .container
        .jumbotron
            .container
            h1 How May I Help You?
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa semper aliquam quis mattis quam. Morbi vitae tortor tempus, placerat leo et, suscipit lectus.
            a.btn.btn-primary.btn-lg(href'#') Learn more &raquo;
        .container
            .row
                .col-md-4
                    h2 About Us
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa semper aliquam quis mattis quam. Morbi vitae tortor tempus, placerat leo et, suscipit lectus.
                    a.btn.btn-default(href='#') View Details
                .col-md-4
                    h2 Service
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa semper aliquam quis mattis quam. Morbi vitae tortor tempus, placerat leo et, suscipit lectus.
                    a.btn.btn-default(href='#') View Details
                .col-md-4
                    h2 In Touch
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa semper aliquam quis mattis quam. Morbi vitae tortor tempus, placerat leo et, suscipit lectus.
                    a.btn.btn-default(href='#') View Details
